.theme-dark {
    // --== Style the app picker ==--
    .contentWrapper__9c62c {
        --bg-base-secondary: var(--background);
        --input-border: var(--highlight);
        --text-link: var(--highlight);
        --text-brand: var(--highlight);
        --bg-mod-subtle: var(--highlight);
    }

    .appDetailsContainer_cb32c7 {
        background-color: var(--background);
    }
}