.theme-dark {
  /* --== Set the background color/image ==-- */
  body {
    background-color: var(--background);
    background-image: var(--background-image);
    background-position: var(--background-position);
    background-size: var(--background-size);
    backdrop-filter: blur(var(--background-blur))
      brightness(var(--background-brightness));
  }

  /* --== Make everything (which needs to be) transparent ==-- */
  // The main App background
  .appMount__51fd7, .app__160d8, .bg__960e4,
  // The guild list
  .guilds_c48ade, .scroller_ef3116,
  // The channel list
  .sidebar_c48ade, .sidebar_c48ade::after, .container__2637a,
  // The chat
  .chat_f75fb0, .chatContent_f75fb0,
  // The title bar
  .title_f75fb0,
  // The search bar,
  .searchBar__97492,
  // The user list
  .container_c8ffbb, .members_c8ffbb, .content_f75fb0, .container__91a9d,
  // The chat box
  .channelTextArea__74017,
  // The friends page
  .container__133bf, .section__00943, .nowPlayingColumn__133bf,
  .container__7d20c, .itemCard__7e549, .section__00943, .inset_bf1984,
  .container__9293f, .privateChannels__35e86, .scroller__99e7c,
  // The settings page
  .layer__960e4 , .standardSidebarView__23e6b, .sidebarRegionScroller__23e6b,
  .contentRegion__23e6b, .contentRegionScroller__23e6b,
  // The Library page
  .container__4a84a, .stickyHeader_adb41f, .scroller_fb04e1,
  // The Explore servers page
  .pageWrapper_a3a4ce,
  // The Explore servers icon
  .footer__214dc,
  // The Forum page 
  .container_f369db {
    background: transparent !important;
  }
}
