.theme-dark {
  /* --== Style member titles ==-- */
  .membersGroup_c8ffbb {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlight);
    padding: 0px;
  }

  .membersGroup_c8ffbb::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: 3px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 0) 0%,
      rgba(var(--rgb-highlight), 1) 100%
    );
  }

  .membersGroup_c8ffbb::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: 3px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 1) 0%,
      rgba(var(--rgb-highlight), 0) 100%
    );
  }

  /* --== Style channelgroup titles ==-- */
  .containerDefault__29444 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .containerDefault__29444 div div {
    color: var(--highlight);
  }

  .arrow_d64d50 {
    display: none;
  }

  .container-q97qHp .overflow_b0dfc2 {
    max-width: 8vw;
  }

  .containerDefault__29444::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: -11px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 0) 0%,
      rgba(var(--rgb-highlight), 1) 100%
    );
  }

  .containerDefault__29444::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: -3px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 1) 0%,
      rgba(var(--rgb-highlight), 0) 100%
    );
  }
}
