.theme-dark {
    .outer_c0bea0:not(.custom-user-profile) {
        background-color: var(--background);

        .inner_c0bea0.user-profile-modal,
        .inner_c0bea0.user-profile-popout {
            background: inherit;
        }
    }
}