/* --== Set the background color/image ==-- */
body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-position: var(--background-position);
  background-size: var(--background-size);
  backdrop-filter: blur(var(--background-blur))
    brightness(var(--background-brightness));
}

/* --== Change font ==-- */
html,
body {
  font-family: "Share Tech Mono", monospace;
}

/* --== Make everything (which needs to be) transparent ==-- */
// The main App background
.appMount_ea7e65,
.app_a01fb1,
.bg_d4b6c5,
// The guild list
.guilds_a4d4d9,
.scroller_fea3ef,
// The channel list
.sidebar_a4d4d9,
.container_ee69e0,
// The mute/deafen/settings panel
.panels_a4d4d9,
.container_b2ca13,
// The chat
.chat_a7d72e,
.chatContent_a7d72e,
// The title bar
.title_a7d72e,
// The search bar,
.searchBar_a46bef,
// The user list
.container_cbd271,
.members_cbd271,
.content_a7d72e,
.container_d808b0,
// The chat box
.scrollableContainer_d0696b,
.channelTextArea_d0696b,
// The friends page
.container_c2739c,
.section_cd82a7,
.nowPlayingColumn_c2739c,
.container_bf550a,
.itemCard_f02fcf,
.section_cd82a7,
.inset_ac5d22,
.container_fc4f04,
.privateChannels_f0963d,
.scroller_c47fa9,
// The settings page
.layer_d4b6c5 ,
.standardSidebarView_c25c6d,
.sidebarRegionScroller_c25c6d,
.contentRegion_c25c6d,
.contentRegionScroller_c25c6d,
// The Library page
.container_ad8f79,
.stickyHeader_f1629a,
.scroller_c100ff,
// The Explore servers page
.pageWrapper_a3a4ce,
// The Forum page 
.container_a6d69a {
  background: transparent !important;
}

/* --== Style the online/afk/dnd icons ==-- */

/* --== THIS PART WAS YOINKED FROM _DAVID_! THANKS DAVID! ==-- */
#app-mount .wrapper_c51b4e rect[fill="#593695"],
#app-mount .wrapper_c51b4e rect[mask*="streaming"] {
  fill: var(--streaming-color);
}

#app-mount .wrapper_c51b4e rect[fill="#43b581"],
#app-mount .wrapper_c51b4e rect[mask*="online"] {
  fill: var(--online-color);
}

#app-mount .wrapper_c51b4e rect[fill="#faa61a"],
#app-mount .wrapper_c51b4e rect[mask*="idle"] {
  fill: var(--afk-color);
}

#app-mount .wrapper_c51b4e rect[fill="#f04747"],
#app-mount .wrapper_c51b4e rect[mask*="dnd"] {
  fill: var(--dnd-color);
}

/* --== Style the unread number-badges ==-- */
.numberBadge__40d6f {
  background-color: rgba(var(--rgb-highlight), 70%) !important;
  color: var(--background);
}

/* --== Style the unread message bar ==-- */
.isUnread_c2654d {
  border: 1px solid var(--highlight);
}

.content_c2654d {
  color: var(--highlight) !important;
}

.wrapper_d8bfb3:hover {
  .unread_d8bfb3 {
    background-color: var(--highlight);
  }
}

.guildSeparator-33mFX6 {
  background-color: var(--highlight);
  border-radius: 2px;
}

.unreadPillCapStroke_c2654d {
  color: var(--highlight);
  fill: var(--highlight);
}

.unreadPill_c2654d {
  background-color: var(--highlight);
  color: var(--background) !important;
}

.bar_edf32f {
  background-color: var(--highlight);
  color: var(--background);
}

/* --== Style the autocomplete window! ==-- */
.autocomplete_bcc24e {
  background-color: var(--background) !important;
}

/* --== Style chat  ==-- */
.channelTextArea_a7d72e {
  border: 1px solid var(--highlight);
  background-color: var(--background) !important;
}

/* --== Style profile ==-- */
.userProfileInnerThemedNonPremium_c69a7b {
  background-color: var(--background);
}

/* --== Hide weird unused stuff ==-- */
.theme-dark .children_fc4f04:after,
.form_a7d72e::before,
.option_b0286e:after {
  display: none;
}

/* --== Make sure friends without custom profile-background just get the theme default, by default ==-- */
.userPanelInnerThemed-2xZFjl {
  background-color: var(--background);
}

/* --== Style channels ==-- */
.containerDefault_f6f816 {
  .name_d8bfb3 {
    color: var(--channel-icon);
  }

  .modeMuted_d8bfb3 {
    .name_d8bfb3 {
      color: var(--interactive-muted);
    }
  }

  .modeSelected_d8bfb3,
  .modeUnreadImportant_d8bfb3 {
    .icon_d8bfb3 {
      color: var(--text);
    }
  }

  .modeSelected_d8bfb3 {
    .name_d8bfb3 {
      color: var(--text);
    }

    .wrapper_d8bfb3 {
      background-color: rgba(var(--rgb-highlight), 20%);
    }
  }
}

/* --== Fix invisible reaction count =-- */
.reactionMe_ec6b19 {
  .reactionCount_ec6b19 {
    color: var(--background) !important;
  }
}

/* --== Fix illegible bot tag ==-- */
.botText_a9e77f,
.botTagVerified_a9e77f {
  color: var(--background);
}

/* --== Fix super bright replying highlights ==-- */
.replying_d5deea:hover {
  background-color: rgba(var(--rgb-highlight), 60%) !important;
}

/* --== Fix super bright bot-replying highlights ==-- */
.ephemeral_d5deea {
  background-color: rgba(var(--rgb-highlight), 30%);
}

.ephemeral_d5deea:hover {
  background-color: rgba(var(--rgb-highlight), 40%) !important;
}

/* --== Change mentioned color bar ==-- */
.mentioned_d5deea::before {
  background-color: var(--highlight);
}

.lookFilled_dd4f85.colorBrand_dd4f85 {
  background-color: var(--interactive-normal);
  color: var(--background);

  &:hover {
    background-color: var(--interactive-hover);
  }
}
