.wordmark_a934d8 {
  svg {
    width: calc(55px * var(--show-original-title));
    height: calc(16px * var(--show-original-title));
  }

  &::after {
    content: var(--custom-title-text);
    font-size: calc(var(--custom-title-font-size) * var(--show-custom-title));
    font-weight: var(--custom-title-font-weight);
    margin-top: var(--custom-title-margin-top);
    margin-left: var(--custom-title-margin-left);
    display: block;
  }
}